<div class="banner-area">
    <div class="banner-text">
        <h1>Leaflet Map</h1>
        <p>Leaflet is the leading open-source JavaScript library for mobile-friendly interactive maps. Weighing just 
            about 42 KB of JS, it has all the mapping features most developers ever need.</p>
        <a href="#">Read More</a>
        <a href="#">Watch More</a>
    </div>
</div>
<div class="image-card">
    <div class="image-container left-image">
      <img src="https://res.cloudinary.com/dylant25/image/upload/v1563834867/114712.jpg" alt="Image 1">
    </div>
    <div class="image-container right-image">
      <img src="https://img.freepik.com/free-vector/house-searching-concept-landing-page_23-2148317954.jpg?size=626&ext=jpg&ga=GA1.1.1032328857.1724059038&semt=ais_hybrid" alt="Image 2">
    </div>
  </div>
  
